@tailwind base;
@tailwind components;
@tailwind utilities;

.monaco-editor:focus-within {
  outline: none !important;
}

.monaco-editor,
.monaco-editor .margin,
.monaco-editor .inputarea {
  outline: none !important;
}

.monaco-editor .margin .line-numbers {
  padding-left: 1rem;
}
